@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=VT323&display=swap');
#welcome-section {
  background: #111;
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family: 'VT323', monospace;
  font-size:10em;
  text-align:center;
  height:200px;
  width:1000px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  left:10px;
}

#project{

}


#project:hover, .project-mobile:hover {
  transform: scale(1.1);
  transition: all .4s ease-in-out;
  margin: 30px;
}

#project:hover > .project-description,  .project-mobile:hover > .project-description{ 
  transform:scale(1);
  transition: all .4s ease-in-out;
}

