body::-webkit-scrollbar{
    display: none;
}

body{

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

nav{
    background: rgb(38, 63, 207);
    color: #fff;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#project-pic{
    width: 100.1%;
    margin-top: -1px;
    border-bottom: 10px solid rgb(38, 63, 207);
}

#mobile-pic{
    width:100%;
}

#projects{
    background-image: linear-gradient(
        180deg,
        hsl(0deg 0% 7%) 0%,
        hsl(227deg 16% 17%) 26%,
        hsl(227deg 33% 27%) 39%,
        hsl(226deg 50% 37%) 50%,
        hsl(226deg 67% 47%) 61%,
        hsl(226deg 84% 57%) 74%,
        hsl(226deg 100% 67%) 100%
      );
}

#project{
    border: 10px outset rgb(38, 63, 207);
    width: 30%;
    height: 50vh;
    background-color: rgb(38, 63, 207);
}

.project-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6vh;
    color: white;
    margin-top: -5px;

}

.project-description{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vh;
    margin-top: -1px;
    color: white;
}

.project-mobile{
    border: 10px outset rgb(38, 63, 207);
    width: 15%;
    height: 70vh;
    background-color: rgb(38, 63, 207);
}

.project-title-mobile{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4vh;
    color: white;
    text-align: center;
    margin-top: -1px;
}

.project-description-mobile{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5vh;
    margin-top: -20px;
    color: white;
}

#about-me{
    background-image: linear-gradient(
        180deg,
        hsl(226deg 100% 67%) 0%,
        hsl(229deg 100% 72%) 21%,
        hsl(232deg 100% 77%) 30%,
        hsl(234deg 100% 81%) 39%,
        hsl(235deg 100% 84%) 46%,
        hsl(237deg 100% 88%) 54%,
        hsl(238deg 100% 91%) 61%,
        hsl(239deg 100% 94%) 69%,
        hsl(241deg 100% 97%) 79%,
        hsl(0deg 0% 100%) 100%
    );
    padding: 10px;
}

.div1 { 
    text-align: left;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#111;

    padding-left: 20px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 10px outset rgb(38, 63, 207);
    border-radius: 5px;

}

.div1-1, .div2-1, .div3-1{
    text-align: center;

}
.div1-2, .div1-3, .div1-4 {     

    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;

}


.div2{
    text-align: left;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#111;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    border: 10px outset rgb(38, 63, 207);
    border-radius: 5px;

}

.div2-1{
    flex-basis: 100%;
}

.div2-2, .div2-3, .div2-4, .div2-5, .div2-6, .div2-7{


    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}

#coin{
    width: 30px;
}

#coin-half{
    width: 15px;
}

.div3{
    text-align: left;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#111;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 75%;
    border: 10px outset rgb(38, 63, 207);
    border-radius: 5px;
    line-height: 2px;
    padding-top: 10px;
}



.div3-1, .div3-2, .div3-3, .div3-4{
    text-align: center;

}

.div4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 10px outset rgb(38, 63, 207);
    border-radius: 5px;

    display: grid;
    grid-template-rows: 10% 90%; 
    padding: 10px;

}

.div1-1, .div2-1, .div3-1, .div4-1, .div5-1{
    font-size: 20px;
}

.div4-1, .div5-1, .div5-2, .div5-3{
    justify-self: center;
    align-self: center;
    text-align: center;
}

.div4-2{
    font-size: 18px;
    text-align: justify;
}
.div5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 10px outset rgb(38, 63, 207);
    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% 75%;
    line-height: 5px;
    
}

.div5-2, .div5-3{
    font-size: 15px;
}

h4{
    font-size: 20px;
}

#contacts{
    height: 90vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4rem 0px 0rem 0px;
    
}
#contact1{grid-area: 1/1/2/2;}
#contact2{grid-area: 1/2/2/3; padding-bottom: 10px;}
#contact3{grid-area: 1/3/2/4;}

.contact{
    border: 10px outset rgb(38, 63, 207);
    width: 80%;
    max-height: 50vh;
    background-color: rgb(38, 63, 207);

    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.network{
    width: 60%;
}

.contact-text{
    color: white;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#contacts a{
    text-decoration: none;

}

#button{
    margin-top: -10px;
}

